#imagem2 {
    width: 20%;
    height: auto;
    position: center;
}

.Niko {
    color: crimson;
    text-decoration: none;
    position: center;
    font-size: 20px;
}

.d-grid {
    transition: 0.5s;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    display: flex;
    border-color: crimson;
    text-decoration: none !important;
}

body {
    background-color: black;
}

h1 {
    margin-top: 50px;
    color: crimson;
    text-align: center;
}

p {
    color: crimson;
    text-align: center;
    position: relative;
}

nav {
    color: gray;
}


button:hover {
    background-color: white;
}

nav ul li {
    display: flex;
    list-style-type: none;
    position: center;
}

footer {
    color: crimson;
    text-align: center;
    position: relative;
    top: 30px;
}